html {
  background-color: #212121;
  font-size: 16px;
}

.App {
  font-family: 'inter', sans-serif;
  color: #e5e5e5;
}

.Gnb {
  padding: 12px 30px 12px 30px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.BtnGroup {
  display: block;
  gap: 12px;
  float: right;
}

button {
  border: none;
  background-color: rgba(0,0,0,0);
  color: #e5e5e5;
  font-family: 'inter', sans-serif;
  font-size: 1em;
  font-weight: 200;
}
button:hover {
  color: #ffcb51;
  cursor: pointer;
}

.Home_text {
  display: inline;
  font-size: 18px;
}

.Shelf {
  padding: 0 60px 0 60px;
  height: 200px;
  margin: 20px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  border: 1px solid #e5e5e5;
  border-style: none none solid;
}

.Book {
  position: relative;
  display: block;
  height:auto;
  padding:16px 10px 10px;
  background-color: #e5e5e5;
  writing-mode: vertical-lr;
  color: #212121;
  text-align:justify;
  font-family: poppins;
  font-weight: 600;
}

.Book:hover {
  background: linear-gradient(to bottom, #ffcb51, #ff7151,#ffcb51);
  background-position: top;
  background-size: 100% 1100%;
  cursor: pointer;
  animation: animate 1.5s linear infinite;
}
@keyframes animate {

  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}