html {
  background-color: #221f1c;
}

.App {
  font-family: "inter", sans-serif;
  color: #e5e5e5;
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #e5e5e5;
  font-family: "inter", sans-serif;
  font-size: 15px;
  font-weight: 200;
  padding: 0;
}
button:hover {
  color: #ffcb51;
  cursor: pointer;
}

p {
  font-size: 14px;
  font-weight: 100;
}

@media (max-width: 768px) {
  button {
    font-size: 13px;
  }
}
