.App {
  font-family: 'inter', sans-serif;
}

.Gnb {
  width: 90vw;
  margin: 40px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.BtnGroup {
  display: inline;
  gap: 12px;
  float: right;
}

.Btn_text {
  border: none;
  background-color: rgba(0,0,0,0);
  color: #212121;
}

.Home_text {
  display: inline-block;
}